<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body bgcolor="#CED3FE">
<img src="images/1.GIF"/>
<hr/>
<div style="text-align: center">
    <h1>注册用户~</h1>
    <form action="#" th:action="@{/upload}" method="post" enctype="multipart/form-data">
        用户名:<input type="text" style="width:150px" name="name"/><br/><br/>
        电　邮:<input type="text" style="width:150px" name="email"/><br/><br/>
        年　龄:<input type="text" style="width:150px" name="age"/><br/><br/>
        职　位:<input type="text" style="width:150px" name="job"/><br/><br/>
        头　像:<input type="file" style="width:150px" name="header"><br/><br/>
<!--        加上multiple 意味着可以上传多个文件-->
        宠　物:<input type="file" style="width:150px" name="photos" multiple><br/><br/>
        <input type="submit" value="注册"/>
        <input type="reset" value="重新填写"/>
    </form>
</div>
<hr/>
<img src="images/logo.png"/>
</body>
</html>